body {
  font-size: 1.2rem;
  font-family: sans-serif;
}

.main {
  box-shadow: 0 3px 42px rgb(0 0 0 / 10%);
  padding: 3rem;
  margin: 2rem 1rem;
  background: #ccc0;
  border-radius: 0.2rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.main span {
  font-family: cursive;
}

.main li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.main li a:hover {
  text-decoration: underline;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 575px) {
  body {
    font-size: 1rem;
  }
  .main {
    margin: 2rem 1rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .d-flex {
    flex-direction: column;
  }
}
